<component name="libraryTable">
  <library name="spring-core-4.2.3.RELEASE">
    <CLASSES>
      <root url="jar://$MAVEN_REPOSITORY$/org/springframework/spring-core/4.2.3.RELEASE/spring-core-4.2.3.RELEASE.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES>
      <root url="jar://$USER_HOME$/.ideaLibSources/spring-core-4.2.3.RELEASE-sources.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/springframework/spring-core/4.2.3.RELEASE/spring-core-4.2.3.RELEASE-sources.jar!/" />
      <root url="file://$PROJECT_DIR$/../../spring-framework-4.3.5.RELEASE/spring-core/src/main/java" />
      <root url="file://$PROJECT_DIR$/../../spring-framework-4.3.5.RELEASE/spring-core/src/test/java" />
      <root url="file://$PROJECT_DIR$/../../spring-framework-4.3.5.RELEASE/spring-core/src/main/java" />
    </SOURCES>
  </library>
</component>